<ion-app>
  <ion-menu side="end" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button href="/home">Home Page</ion-button>
        </ion-item>
        <ion-item>
          <ion-button href="/profile">Profile Page</ion-button>
        </ion-item>
        <ion-item>
          <ion-button href="/gym">Gym Page</ion-button>
        </ion-item>
        <ion-item>
          <ion-button href="/groups">Groups Page</ion-button>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><ion-img class="logo" src="http://isoptera.lcsc.edu/~tcherbert/cs480/gwlogo.png"></ion-img></ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Main Content Area. Insert content in here-->

      <header>
        <ion-img class="centerLogo" src="../../assets/images/landing_logo.png"></ion-img>
      </header>
      <main>
        <section>
          <form>
         
            <ion-input type="text" placeholder="Enter Username" name="uname" required></ion-input>
          
            <ion-input type="password" placeholder="Enter Password" name="psw" required></ion-input>
          
            <ion-button color="lightred" type="submit" href="/profile">Login</ion-button>
          </form> 
        </section>
      </main>
    

  </div>


</ion-app>
