<ion-app>
  
    <!-- Main Content Area. Insert content in here-->

      <header>
        <ion-img class="centerLogo" src="../../assets/images/landing_logo.png"></ion-img>
      </header>
      <main>
        <section>
          <form>
         
            <ion-input type="text" placeholder="Enter Username" name="uname" required></ion-input>
          
            <ion-input type="password" placeholder="Enter Password" name="psw" required></ion-input>
          
            <ion-button color="lightred" type="submit" href="/profile">Login</ion-button>
          </form> 
        </section>
      </main>
    

  


</ion-app>
