ion-title{
  color: black;
}
form {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  letter-spacing: 1px;
}
ion-button[type="submit"] {
  
  border: 8px solid #AC0002;
  border-radius: 10px;
  color: white;
  
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-bottom: 80px;
  font-size: 1em;
  letter-spacing: 1px;
}

ion-button[type="submit"]:active {
  border: 8px solid rgb(99, 5, 7);
  outline: none;
}