.profileImage {
    background: url(../../assets/images/gymprofile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#nameStatus {
    color:white;
    text-shadow: -2px 2px 6px black;
    }