<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item>
              <ion-button class="navButton" fill="clear" href="/home">Home Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear"  href="/profile">Profile Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/gym">Gym Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/groups">Groups Page</ion-button>
            </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gym Page</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Main Content Area. Insert content in here-->
    <main>
      <h1>This is a test</h1>
  </main>

  </div>
</ion-app>
