<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item>
              <ion-button class="navButton" fill="clear" href="/home">Home Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear"  href="/profile">Profile Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/gym">Gym Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/groups">Groups Page</ion-button>
            </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gym Page</ion-title>
      </ion-toolbar>
    </ion-header>
    
      <div class="profileImage">
        <ion-card-header>
            <ion-card-title id="nameStatus">Smart Fitness</ion-card-title>
            <ion-card-subtitle id="nameStatus">1234 Street, City 555-555-5555</ion-card-subtitle>
        </ion-card-header>
      </div>
    <main>
        <div>
            <ion-button color="lightred">Message</ion-button>
            <ion-button color="darkred">Photos</ion-button>
            <ion-button color="lightred">Schedule</ion-button>
        </div>
        <div>
            <ion-card class="profileImage">
                <ion-card-header>
                    <ion-card-title id="nameStatus">Smart Fitness</ion-card-title>
                 </ion-card-header>

             <ion-card-content id="nameStatus">
                We just released a new class schedule! Check it out!
            </ion-card-content>
            </ion-card>

            <ion-card class="profileImage">
                 <ion-card-header>
                    <ion-card-title id="nameStatus">Smart Fitness</ion-card-title>
                 </ion-card-header>

             <ion-card-content id="nameStatus">
               Personal training special! Now through March 1 all of our personal training sessions are 50% off!
            </ion-card-content>
            </ion-card>

            <ion-card class="profileImage">
                 <ion-card-header>
                    <ion-card-title id="nameStatus">Smart Fitness</ion-card-title>
                 </ion-card-header>

             <ion-card-content id="nameStatus">
               It's a great day for a great day!
            </ion-card-content>
            </ion-card>
             
        </div>
  
    </main>
    
    
  </div>
</ion-app>
