<ion-app>
  

    <div class="profileImage">
      <ion-card-header>
          <ion-card-title id="nameStatus">Tina's Indoor Cycling Class</ion-card-title>
          <ion-card-subtitle id="nameStatus">Monday, Wednesday, Friday at 8 am</ion-card-subtitle>
      </ion-card-header>
    </div>
  <main>
      <div>
          <ion-button color="lightred">Schedule</ion-button>
      </div>
      <div>
          <ion-card class="profileImage2">
              <ion-card-header>
                  <ion-card-subtitle id="nameStatus">Smart Fitness</ion-card-subtitle>
                  <ion-card-title id="nameStatus">Sally Jones</ion-card-title>
               </ion-card-header>
                <ion-card-content id="nameStatus">
                    Is someone willing to teach me the ropes for Spin? Don't want to look lik a fool!
                </ion-card-content>
          </ion-card>

          <ion-card class="profileImage">
               <ion-card-header>
                  <ion-card-title id="nameStatus">Tina's Indoor Cycling Class</ion-card-title>
               </ion-card-header>

           <ion-card-content id="nameStatus">
              New music tomorrow! Let's hit some RPMs!
          </ion-card-content>
          </ion-card>
           
      </div>
  </main>

 


</ion-app>
