<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item>
              <ion-button class="navButton" fill="clear" href="/home">Home Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear"  href="/profile">Profile Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/gym">Gym Page</ion-button>
            </ion-item>
            <ion-item>
              <ion-button class="navButton" fill="clear" href="/groups">Groups Page</ion-button>
            </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Groups Page</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="profileImage">
      <ion-card-header>
          <ion-card-title id="nameStatus">Tina's Indoor Cycling Class</ion-card-title>
          <ion-card-subtitle id="nameStatus">Monday, Wednesday, Friday at 8 am</ion-card-subtitle>
      </ion-card-header>
    </div>
  <main>
      <div>
          <ion-button color="lightred">Schedule</ion-button>
      </div>
      <div>
          <ion-card class="profileImage2">
              <ion-card-header>
                  <ion-card-subtitle id="nameStatus">Smart Fitness</ion-card-subtitle>
                  <ion-card-title id="nameStatus">Sally Jones</ion-card-title>
               </ion-card-header>
                <ion-card-content id="nameStatus">
                    Is someone willing to teach me the ropes for Spin? Don't want to look lik a fool!
                </ion-card-content>
          </ion-card>

          <ion-card class="profileImage">
               <ion-card-header>
                  <ion-card-title id="nameStatus">Tina's Indoor Cycling Class</ion-card-title>
               </ion-card-header>

           <ion-card-content id="nameStatus">
              New music tomorrow! Let's hit some RPMs!
          </ion-card-content>
          </ion-card>
           
      </div>
  </main>

  </div>


</ion-app>
