.profileImage {
    background: url(../../assets/images/groupprofile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35%;
}

.profileImage2 {
    background: url(../../assets/images/profilePhoto2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#nameStatus {
    color:white;
    text-shadow: -2px 2px 6px black;
    }

ion-button {
    width: 100%;
}